@model List<ProfileSample.Models.ImageModel>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        <img src="@Url.Action("Image", "Home", new { id = item.Id })" alt="@item.Name" width="300" height="150" />
    }
</div>
