<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="user" value="user"/>
    <add key="password" value="password"/>
    <add key="apiUrl" value="https://telescope.epam.com/eco/rest/e3s-eco-scripting-impl/0.1.0"/>
  </appSettings>
</configuration>