<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="NLog" version="4.5.2" targetFramework="net452" />
  <package id="NLog.Config" version="4.5.2" targetFramework="net452" />
  <package id="NLog.Schema" version="4.5.2" targetFramework="net452" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net452" />
  <package id="PostSharp" version="5.0.51" targetFramework="net452" developmentDependency="true" />
  <package id="PostSharp.Redist" version="5.0.51" targetFramework="net452" />
  <package id="Topshelf" version="4.0.4" targetFramework="net452" />
</packages>