<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logdate" value="${date:format=yyyy-MM-dd HH\:mm\:ss}"/>
  <variable name="loglevel" value="${pad:padding=5:inner=${level:upperCase=true}} "/>
  <variable name="loggerName" value="${pad:padding=20:inner=${logger:shortName=true}}   "/>
  
  <variable name="logLayout" value="${logdate} ${loglevel} ${loggerName} ${message}"/>
  
  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.txt" layout="${logLayout}" />
    <target name="logconsole" xsi:type="Console" layout="${logLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="logconsole" />
  </rules>
</nlog>
