<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SourceFolderPaths" value="D:/TestSource|D:/TestSource2" />
    <add key="DestinationFolderPath" value="D:/TestDestination" />
    <add key="BrokenFolderName" value="BrokenSequences" />
    <add key="NameTemplate" value="img_{0}.{1}" />
    <add key="SupportedExtensions" value="png,jpeg,jpg,bmp" />
    <add key="PageTimeout" value="5" />
    <add key="RetryCount" value="5" />
    <add key="RetryDelay" value="5" />
    <add key="CentralMessageQueueMachine" value="" />
    <add key="CentralMessageQueueName" value="msmq.streamscanning.centralservice" />
    <add key="MessageQueueName" value="msmq.streamscanning.worker" />
  </appSettings>
</configuration>